{% extends 'base.html' %}
{% load static %}

{% block pages %}
	<li><a href="{% url 'home-page' %}" style="margin-left: 31rem">Home</a></li>
	<li><a href="{% url 'projects-page' %}">Projects</a></li> 
	<li><a href="{% url 'about-page' %}">About</a></li>
	<li class="active"><a href="{% url 'contact-page' %}">Contact</a></li>
{% endblock %}

{% block details %}
	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url('{% static 'images/img_bg_3.jpg'%}')">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
				   				<div class="slider-text-inner text-center">
				   					<h1>Contact</h1>
										<h2></h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>		
		<div id="fh5co-contact">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Contact</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-md-push-1 animate-box">
					<h3>Contact with me</h3>
					<ul class="contact-info">
						<li><i class="icon-phone3"></i>+994 70 225 15 11</li>
						<li><i class="icon-location3"></i><a href="#">ugurguliyev7@gmail.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">ugurguliyev.co</a></li>
					</ul>
				</div>
				<div class="col-md-7 col-md-push-1 animate-box">
					<div class="row">
						<form action="#" method="POST">
							{% csrf_token %}
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="name" class="form-control" placeholder="Name and Surname" required id="id_name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="email" class="form-control" placeholder="Email" required id="id_email">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="message" class="form-control" cols="30" rows="7" placeholder="Message" required id="id_message"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="Send Message" class="btn btn-primary btn-modify">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}