{% extends 'base.html' %}
{% load static %}

{% block pages %}
	<li><a href="{% url 'home-page' %}" style="margin-left: 31rem">Home</a></li>
	<li class="active"><a href="{% url 'projects-page' %}">Projects</a></li> 
	<li><a href="{% url 'about-page' %}">About</a></li>
	<li><a href="{% url 'contact-page' %}">Contact</a></li>
{% endblock %}

{% block details %}
	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url('{% static 'images/img_bg_3.jpg' %}'">
			   		<div class="overlay-gradient"></div>
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
			   				<div class="slider-text-inner text-center">
			   					<h1>Projects</h1>
									<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
			   				</div>
			   			</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>		
		<div id="fh5co-work">
			<div class="row">
				{% for project in projects %}
					<div class="col-md-4 text-center animate-box">
						<a href="work-single.html" class="work" style="background-image: url( '{{ project.featured_image.url }}' )">
							<div class="desc">
								<h3>{{ project.title }}</h3>
								<span>{{ project.category }}</span>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}
